.schedule {
    background-color:rgba(255, 255, 255, .3);
}







/*---------------------------------------------
フッター
---------------------------------------------*/
.footer {
    background-color: $black;
    height: 80px;
    color: #fff;
    text-align: center;
}
.footer-copyright {
    line-height: 80px;
}