/*---------------------------------------------
スケジュール
---------------------------------------------*/
.schedule {
    background-color:rgba(255, 255, 255, .3);
    padding-top: 30px;
    padding-bottom: 45px;
    text-align: center;
    @include media(m) {
        padding: 20px;
    }
    &__item {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 25px;
        @include media(s) {
            font-size: $font-s;
            text-align-last: left;
        }
        span {
            @include media(m) {
                display: block;
            }
        }
        a {
            border-bottom: 2px solid $broun;  
        }
    }
    &__btn-area {
        text-align: center;
        margin-top: 30px; 
    }
    &__btn {
        margin: 0 15px;
    }
}

/*---------------------------------------------
フッター
---------------------------------------------*/
.footer {
    background-color: $black;
    height: 80px;
    color: #fff;
    text-align: center;
}
.footer-copyright {
    line-height: 80px;
}